#terminal {
    -fx-background-color: #222222;
}

#terminal .list-view, #terminal .list-cell:even, #terminal .list-cell:odd {
    -fx-background-color: #222222;
}

#terminal .list-view .scroll-bar:vertical {
    -fx-scale-x: 1;
    -fx-opacity: 0.5;
    -fx-color: #333333;
    -fx-background-color: #222222;

}

#verticalMenu {
    -fx-background-color: #CCCCCC;
    -fx-padding: 10px;
    -fx-text-align: center;
}

#user {
    
}